/* ForgetPassword.css */

.form-container3 {
  display: grid;
  place-items: center;
  background: #ecf0f3;
  text-align: center;
  width: 380px;
  height: 300px;
  align-items: center;
  margin-left: 30rem;
  margin-top: 2rem;
  border-radius: 20px;
}
.content3 .text3 {
  font-size: 33px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #3364f5;
}
.field3 {
  height: 50px;
  width: 100%;
  display: flex;
  position: relative;
}
.field3:nth-child(2) {
  margin-top: 30px;
}

.field3 input {
  height: 100%;
  width: 100%;
  padding-left: 50px;

  border: none;
  font-size: 18px;
  background: #ecf0f3;
  color: #595959;
  border-radius: 25px;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #ffffff73;
}
.field3 span {
  position: absolute;
  color: #595959;
  width: 50px;
  line-height: 50px;
}

.submit-button3 {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  border: none;
  padding: 10px;
  color: white;
  background: #3364f5;
  border-radius: 25px;
  box-shadow: 2px 2px 5px #babecc, -5px -5px 10px #ffffff73;
}

.error-message {
  color: black;
  margin-left: 0px;
}
